services:
  server:
    build:
      context: ./server
    ports:
      - "3001:3001"

  client:
    build:
      context: ./client
      args:
        VITE_API_BASE: http://localhost:3001
    ports:
      - "5173:80"
    depends_on:
      - server
